/* #region reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #endregion reset */

/* #region debug */

.debug {
  * {
    outline: 1px dashed black;
  }

  .wrapper {
    background-color: red;
  }

  .bottom {
    background-color: aqua;
  }

  .left {
    background-color: blanchedalmond;
  }

  .banner {
    background-color: blue;
  }

  .main {
    background-color: green;
  }

  .category {
    background-color: chocolate;
  }

  .container {
    background-color: magenta;
  }
}

/* #endregion debug */

/* #region global */

:root {
  --col-main: rgb(20, 25, 34);
  --col-secondary: rgb(173, 255, 47);
  --col-darkest: rgb(0, 0, 0);
  --col-darker: rgb(8, 11, 18);
  --col-dark: rgb(40, 40, 40);
  --col-light: rgb(90, 90, 90);
  --col-lighter: rgb(163, 163, 163);
  --col-lighter-2: rgb(210, 210, 210);
  --col-lightest: rgb(255, 255, 255);
  --col-text: rgb(118, 120, 125);
  --col-transparent: rgba(0, 0, 0, 0.5);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--col-text);

  background-color: var(--col-main);
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
  color: var(--col-text);
}

.filter {
  filter: brightness(0) saturate(100%) invert(50%) sepia(7%) saturate(240%)
    hue-rotate(185deg) brightness(91%) contrast(84%);
}

.container {
  height: 100%;
  width: 95%;
  margin: 0 auto;
}

.wrapper {
  height: 100vh;
}

.btn-primary {
  border: 1px solid white;
  border-radius: 30px;
  padding: 0.75rem 2.5rem;
  text-align: center;
  font-size: 0.75rem;
  color: var(--col-lightest);
}

.btn-primary:hover {
  font-size: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem -1rem;
}

[class^="col"] {
  padding: 1rem;
  justify-items: center;
  text-align: center;
  position: relative;
}

.col-2 {
  width: calc(100% / 12 * 2);
}

/* #endregion global */

/* #region top */

.top {
  display: flex;
  height: calc(100% - 90px);

  .left {
    width: 230px;
    height: 100%;
  }

  .right {
    width: calc(100vw - 230px);
    overflow-y: auto;

    .banner {
      z-index: 1000;
      display: flex;
      position: sticky;
      top: 0;
      height: 90px;
      width: 100%;
      padding: 0 1rem;

      background-color: var(--col-darker);

      align-items: center;
      justify-content: flex-end;
    }

    .main {
      min-height: calc(100vh - 160px);

      [class^="col"] > a {
        margin-bottom: 0.75rem;
      }

      h3,
      h2 {
        color: var(--col-lightest);
      }

      p {
        margin-top: 0.5rem;
        font-size: 0.9rem;
      }

      .categories {
        height: 40px;
        margin-bottom: 2rem;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        li {
          height: 100%;
          justify-items: center;

          a {
            display: block;
            height: 100%;
            align-content: center;
          }

          hr {
            display: none;
            height: 2px;
            border: 0;
            border-top: 2px solid var(--col-secondary);
            padding: 0;
            width: 30px;
          }
        }

        li:hover {
          hr {
            display: block;
          }
        }
      }

      .container {
        .image {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          .play {
            display: none;
            position: absolute;
            font-size: 3rem;
            background-color: var(--col-transparent);
            width: 100%;
            height: 100%;
            align-content: center;
            color: var(--col-lightest);
          }
        }

        .image:hover {
          .play {
            display: block;
          }
        }

        .artists {
          img,
          .play {
            border-radius: 100%;
          }
        }
      }
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--col-darkest);

    .logo {
      display: block;
      height: 90px;
      padding: 1rem;
      align-content: center;

      img {
        height: 45px;
        width: auto;
      }
    }

    .sidebar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;

      li,
      h4 {
        padding: 0 1rem;
        margin-bottom: 1rem;

        img {
          height: 30px;
          width: auto;
        }

        a {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          max-width: fit-content;
        }

        .new_playlist {
          background-color: var(--col-lighter);
          color: var(--col-darkest);
          height: 40px;
          width: 40px;
          align-content: center;
          justify-items: center;

          i {
            display: block;
            font-size: 1.25rem;
          }
        }
      }

      h4 {
        color: var(--col-lightest);
      }

      #top {
        margin-bottom: 2rem;

        > li:first-child {
          padding: 0 calc(1rem - 2px);
          border-left: 2px solid var(--col-secondary);

          .filter {
            filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
              saturate(0%) hue-rotate(337deg) brightness(100%) contrast(103%);
          }

          > a > p {
            color: var(--col-lightest);
          }
        }
      }

      .account {
        padding: 0 1rem;

        .download,
        .user {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          max-width: fit-content;
        }

        .download {
          height: 25px;
          font-size: 0.75rem;

          img {
            height: 20px;
            width: auto;
          }
        }

        hr {
          margin: 0.5rem 0;
        }

        .user {
          height: 30px;
          margin-bottom: 0.5rem;

          img {
            background-color: var(--col-text);
            border-radius: 30px;
            height: 30px;
            width: 30px;
          }
        }
      }

      #top {
        li:hover {
          padding: 0 calc(1rem - 2px);
          border-left: 2px solid var(--col-secondary);
        }
      }

      li:hover,
      .download:hover {
        p {
          color: var(--col-lightest);
        }

        .new_playlist {
          background-color: var(--col-lightest);
        }

        .filter {
          filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
            saturate(0%) hue-rotate(337deg) brightness(100%) contrast(103%);
        }
      }
    }
  }
}

/* #endregion top */

/* #region bottom */

.bottom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  background-color: var(--col-dark);

  .song_info,
  .other {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    max-width: 200px;

    a:hover {
      color: var(--col-lightest);
    }

    .song_name {
      margin-right: 10%;
      p {
        color: var(--col-lightest);
      }

      h6:hover {
        text-decoration: underline;
      }
    }

    img {
      height: 40px;
      width: auto;
    }
  }

  .progress_bar {
    display: block;
    height: 5px;
    border-radius: 5px;
    background-color: var(--col-light);

    .progress {
      background-color: var(--col-lighter);
      width: 25%;
      height: 100%;
      border-radius: 5px;

      .pointer {
        display: none;
        position: relative;
        left: calc(100% - 5px);
        bottom: 50%;
        height: 10px;
        width: 10px;
        background-color: var(--col-lightest);
        border-radius: 10px;
      }
    }

    .progress:hover {
      background-color: var(--col-secondary);

      .pointer {
        display: block;
      }
    }
  }

  .player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    max-width: 600px;

    .controls,
    .status {
      display: flex;
      align-items: center;
      gap: 5%;

      a,
      p {
        color: var(--col-lightest);
      }
    }

    .controls {
      justify-content: center;
      font-size: 1.25rem;
      flex-grow: 1;

      .fa-circle-play {
        font-size: 2rem;
      }

      .fa-circle-play:hover {
        font-size: 2.5rem;
      }
    }

    .status {
      justify-content: space-between;
      font-size: 0.75rem;

      .progress_bar {
        width: 100%;
      }
    }
  }

  .other {
    .progress_bar {
      width: 50%;
    }

    a {
      color: var(--col-lightest);
    }
  }
}

/* #endregion bottom */

/* #region footer */
/* #endregion footer */

/* #region responsive */
/* #endregion responsive */
